.flexBox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexBox main{
    flex:1;
    align-items: center;
    
}
main{
    padding: 5%;
    align-items: center;
}
.postHeader{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
 .postPicture{
    width: 100%;
}
article{
    background-color: lightgrey;
    border-radius: 5px;
    padding: 10px;
}
@media (min-width:700px){
    main{
        padding:1% 10% 1% 10%;
    }

}

@media (min-width:1000px){
    main{
        padding:1% 25% 1% 25%;
    }

}