.contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-container {
    margin-top: 10%;
    display: flex;
    background-color: lightgrey;
    border: 5px solid gray;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    padding: 20px;
        
}
.button {
    background-color:blue;
    color:white
}

.button2 {
    background-color:grey;
    color:white
}

#postBody {
    color: lightgrey;
}