main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginBox {
    background-color: #a3d3c3;
    text-align: center;
    min-width: 400px;
}

.inputField {
    height: 20px;
    width: 50%;
    font-size: 16px;
}

@media (max-width: 450px) {
    .loginBox {
        min-width: 90%;
    }
}

form > div {
    margin: 5px;
}

#loginButton {
    margin-top: 10px;
    font-size: 16px;
}

.loginBox a:link, .loginBox a:visited,.loginBox a:hover, .loginBox a:active {
    color: #ff3b3b;
    text-decoration: none;
}